/*----------------------- Journal ------------------------*/

.journal {
  background-color: #fff;
  padding-top: 1.2em;
  padding-bottom: 1.8em;
  margin-bottom: 3em;
  .u41 {
    padding-left: 0;
  }
  &__title{
    position: relative;
    &--white {
      background-color: #fff;
    }
    &--label{
      position: relative;
      border: 0!important;
      background-color: transparent!important;
      margin: .5em 0 0 0;
      span {
        margin: 0;
        color: #fff;
        font-size: 12px;
        font-family: $font-semi;
        padding: .2em .5em!important;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        max-width: 110px;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
      }
      &--processing {
        background-color: #59c1b6;
      }
      &--closed {
        background-color: #7a8d93;
      }
      &--comment {
        background-color: #59c1b6;
      }
      &--remark{
        background-color: #59c1b6;
      }
    }
    &--time{
      position: absolute;
      left: 145px;
      margin-top: .2em;
      time {
        font-size: 14px;
        position: absolute;
        color: #000;
        font-family: $font-semi;
        &:last-child {
          font-size: 13px;
          margin-left: .2em;
          color: #999;
          top: 18px;
        }
      }
    }
    &--text {
      h1 {
        margin-left: 0;
        div {
          color: #999;
          margin-top: .5em;
          font-style: normal;
        }
      }
    }
  }
  &__body {
    .link-green {
      margin-bottom: 1.5em;
      margin-top: 1.5em;
    }
    &--addbtn {
      .glyphicon {
        color: #000!important;
        font-family: 'Glyphicons Halflings'!important;
        &:hover {
          text-decoration: none;
        }
      }
      span {
        color: #247d76;
        border-bottom: 1px solid transparent;
        -webkit-transition: .3s ease all;
        -moz-transition: .3s ease all;
        -ms-transition: .3s ease all;
        -o-transition: .3s ease all;
        transition: .3s ease all;
        font-family: $font-reg;
        text-decoration: none;
        &:hover {
          text-decoration: none;
          color: #00a99f;
          border-bottom: 1px solid #00a99f;
          -webkit-transition: .3s ease all;
          -moz-transition: .3s ease all;
          -ms-transition: .3s ease all;
          -o-transition: .3s ease all;
          transition: .3s ease all;
        }
      }
      &:focus {
        outline: none;
      }
    }
    .form-control {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-radius: 7px;
      font-family: $font-reg;
      color: #999;
      transition: 0s ease all !important;
      border: 1px solid rgba(153, 153, 153, 0.28);
      z-index: 1;
      &:focus {
        z-index: 1;
        transition: 0s ease all !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
    .button-subscribe {
      z-index: 10;
      padding: 8px 2em!important;
      margin-left: -13px!important;
      border-bottom-left-radius: 7px!important;
      border-top-left-radius: 7px!important;
    }
    &--massege {
      dt {
        width: auto!important;
        height: auto;
        font-family: $font-reg;
        font-size: 15px;
        time {
          font-family: $font-semi;
          color: #999;
        }
      }
      dt.my,
      dt {
        background-color: transparent;
        color: #000;
      }
      dd {
        margin-top: 45px;
      }
      .u31 {
        background-color: #efefef;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 100px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        padding: 1em;
        position: relative;
        p {
          font-size: 14px;
          font-family: $font-reg;
          margin: 0;
        }
        a {
          font-family: $font-reg;
          color: #247d76;
          font-size: 14px;
          border-bottom: 1px solid transparent;
          display: inline;
          -webkit-transition: .3s ease all;
          -moz-transition: .3s ease all;
          -ms-transition: .3s ease all;
          -o-transition: .3s ease all;
          transition: .3s ease all;
          &:hover {
            -webkit-transition: .3s ease all;
            -moz-transition: .3s ease all;
            -ms-transition: .3s ease all;
            -o-transition: .3s ease all;
            transition: .3s ease all;
            color: #00a99f;
            border-bottom: 1px solid #00a99f;
          }
        }
      }
      .u21.my + .u31 {
        background-color: #e6f3fb;
        &:after {
          position: absolute;
          content: '';
          display: block;
          background-color: transparent;
          border-top: 9px solid transparent;
          border-right: 13px solid #e6f3fb;
          border-bottom: 5px solid transparent;
          transform: rotate(-130deg);
          right: -5px;
          bottom: -2px;
        }
        &:before {
          display: none;
        }
      }
      .u21.my {
        margin-right: -55px;
      }
      .u31 {
        &:before {
          position: absolute;
          content: '';
          display: block;
          background-color: transparent;
          border-top: 9px solid transparent;
          border-right: 13px solid #efefef;
          border-bottom: 5px solid transparent;
          transform: rotate(-35deg);
          bottom: -1px;
          left: -6px;
        }
      }
    }
  }
}

.show-more{
  font-size: 13px;
  font-family: $font-bold;
  padding: 20px 40px;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
  background-color: #62a0af;
  margin: 0 auto;
  width: 240px;
  display: block;
  margin-bottom: 20px;
  &:hover{
    background-color: #38899e;
    color: #ffffff;
  }
  &:focus{
    background-color: #1f7085;
    outline-color: #fff;
    color: #ffffff;
  }
}
.time-block{
  margin-right: 10px;
  float: left;
  font-size: 14px;

}
.date_shape.processing,.date_shape.remark,.date_shape.closed  {
  background-color: transparent;
  border: 1px solid transparent;
  color: #ffffff;
}
.journal__title--label{
  margin: 0;
  color: #fff;
  font-size: 12px;
  font-family: "OpenSansSemiBold", sans-serif;
  padding: 0.2em 0.5em !important;
  border-radius: 5px;
  max-width: 110px;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}
.date_shape{
  font-size: 12px;
  margin-top: 3px;
  text-transform: lowercase;
}
.ng-binding .ng-scope{
  color: #5dc0b7;
}
.view{
  background-color: #efefef;
}
.u41 {
  padding-left: 70px;
}
.service-item-title{
  display: block;
  padding-left: 70px;
  color: #5dc0b7;
  &:hover{
    color: #319fab;
  }
}
.services-search{
  margin-top: 20px;
}
.journal-item-block{
  margin-left: 1em;
}