.lowvision {
  .scrollToTop {
    background-color: #585a5a;
  }

  .header {
    background-color: #585a5a;
    background: linear-gradient(to bottom right, #727373, #585a5a);
    background: -webkit-linear-gradient(to bottom right, #727373, #585a5a);
    background: -o-linear-gradient(to bottom right, #727373, #585a5a);
    background: -ms-linear-gradient(to bottom right, #727373, #585a5a);
    background: linear-gradient(to bottom right, #727373, #585a5a);
    color: #fff;
  }

  .header__lowvision--low {
    display: none !important;
  }

  .header__lowvision--normal {
    display: inline-block !important;
  }

  .theme__item {
    margin-top: 2em;
    min-height: 140px;
  }

  .theme__item-block img {
    display: none;
  }

  .theme__item-link a {
    color: #585a5a;
  }

  .theme__item-link a:hover {
    border-bottom: 1px solid #727373;
    color: #727373;
  }

  .js-news-crumb.fix-crumb {
    background-color: #585a5a !important;
  }

  .category__item-list-item {
    .servises-status {
      background: #000000;
    }
    a {
      color: #000000;
      &:hover {
        color: #727373 !important;
        border-bottom-color: #727373 !important;
      }
    }
    > p > i.glyphicon {
      color: #585a5a !important;
    }
  ;
    > div > a {
      color: #585a5a !important;
      &:hover {
        color: #727373 !important;
        border-bottom-color: #727373 !important;
      }
    }
  }

  .link-main {
    color: #585a5a !important;
    &:hover {
      color: #727373 !important;
      border-bottom-color: #727373 !important;
    }
  }
  .instructions ul {
    &:before, &:after {
      border-color: #585a5a;
    }
    li {
      &:before {
        background-color: #585a5a;
      }
    }
  }
  .service-content-form-massege--red {
    color: #585a5a !important;
  }
  .service-content-form-label {
    color: #585a5a !important;
  }
  .nav.nav-tabs {
    &.longTabs {
      li {
        margin-right: 9px;
        a {
          line-height: 45px;
          color: black;
        }
        &.active {
          z-index: 1;
          a {
            background-color: #ffffff !important;
            &:after {
              content: '';
              position: absolute;
              left: 0;
              right: 0;
              bottom: -3px;
              height: 3px;
              background: #ffffff;
            }
          }
        }
      }
    }
    li {
      a {
        border: 3px solid black;
        margin-bottom: -3px;
        background-color: #d6d6d6 !important;
        position: relative;
        line-height: 2.42857143;
        &.active-tab {
          z-index: 1;
          background-color: #ffffff !important;
          &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -3px;
            height: 3px;
            background: #ffffff;
          }
        }
      }
    }
  }

  .igov-container, .service-content {
    border: 3px solid black;
  }

  .category-container-text {
    ul {
      li {
        a {
          color: #585a5a !important;
        }
      }
    }
  }

  .category-container-img a {
    display: none !important;
  }

  .footer__sidebar-dev a {
    color: #fff;
  }

  .footer__sidebar-dev a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
  }

  .button-timeline {
    background-color: #585a5a;
  }

  .button-timeline:hover {
    background-color: #585a5a;
  }

  .message__subscribe-arrow {
    display: none !important;
  }

  #parallax {
    display: none !important;
  }

  .timeline__list li:last-child .timeline__item-inner::before {
    background: -moz-linear-gradient(top, white 0%, #000 100%);
    background: -webkit-linear-gradient(top, white 0%, #000 100%);
    background: -o-linear-gradient(top, white 0%, #000 100%);
    background: -ms-linear-gradient(top, white 0%, #000 100%);
    background: linear-gradient(to top, white 0%, #000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#000', GradientType=1);
  }

  .message__subscribe {
    width: 100%;
    padding-bottom: 3em;
  }

  .button-subscribe,
  .button-timeline {
    background-color: #585a5a !important;
  }

  .button-subscribe:hover,
  .button-timeline:hover {
    background-color: #717474 !important;
  }

  *::selection {
    color: #fff;
    background: #585a5a !important;
  }

  .subtheme__link a:before {
    display: none;
  }

  .fullpage__inner a {
    color: #585a5a;
    border-bottom: 1px solid #717474;
  }

  .fullpage__inner a:hover {
    color: #717474;
    border-bottom: 1px solid #717474;
  }

  .news__inner-crumb span a {
    background: #d7d7d7;
  }

  .news__inner-crumb span a:hover {
    background: #cddde1 !important;
  }

  .news__inner-crumb span a:before {
    border-right: 7px solid #d7d7d7;
  }

  .news__inner-crumb span a:hover::before {
    border-right: 7px solid #cddde1 !important;
  }

  .fullpage__inner ul li:before {
    background-color: #585a5a;
    border: 5px solid #585a5a;
  }

  .news__inner-attach li > a,
  .news__inner-attach li > a:hover {
    color: #000000;
  }

  .news__inner-btn svg,
  .news__inner-btn:hover svg {
    fill: #000000;
  }

  .fullpage__inner ol li:before {
    color: #585a5a;
  }

  .button-service, .button-main {
    background-color: #585a5a !important;
  }

  .button-service:hover, .button-main:hover {
    background-color: #3f4040 !important;
  }

  .media__attach-img,
  .media__attach-img:before {
    background-image: url("../img/svg/trash/arrow-left-big-link-black.svg");
  }

  .media__attach li > a,
  .media__attach li:hover > a {
    color: #585a5a;
  }

  .media__pagination .news__inner-btn-next svg {
    right: 8px;
  }

  .button-acreditation {
    background-color: #585a5a !important;
  }

  .button-acreditation:hover {
    background: #717474 !important;
  }

  .button-calendar {
    background-color: #717474 !important;
  }

  .button-calendar:hover {
    background-color: #8b8d8d !important;
  }

  .events__sidebar .dropdown-menu > li > a {
    color: #000;
  }
  .article-block a:not(.button-subscribe) {
    color: #585a5a !important;
  }

  .similar-situation li a {
    color: #585a5a !important;
    &:hover {
      color: #727373 !important;
      border-bottom-color: #727373 !important;
    }
  }

  .social-share a .a {
    fill: #000 !important;
  }
  .social-share a:hover .a {
    fill: #585a5a !important;
  }
  .igov-container ol li:before {
    background-color: #585a5a !important;
  }

  .notfound {
    &__inner {
      &-error {
        color: #585a5a;
      }
      &-title {
        color: #585a5a;
      }
      &-text {
        a {
          color: #585a5a;
        }
      }
    }
  }

  /*----------------------- Vars LowVision ------------------------*/

  .journal {
    &__title--label--processing {
      background-color: #585a5a !important;
    }
    .service-item-title {
      color: #585a5a !important;
    }
    .journal__body--massege .u21.my + .u31 {
      background-color: #868787 !important;
    }
    &__body--massege .u31 {
      a {
        color: #585a5a !important;
        &:hover {
          color: #727373 !important;
          border-bottom-color: #727373 !important;
        }
      }
    }
    .link-green {
      color: #585a5a !important;
      &:hover {
        color: #727373 !important;
        border-bottom-color: #727373 !important;
      }
    }
  }


}
