/*----------------------- Vars ------------------------*/

$main-grey: #efefef;
$main-color: #33a5b1;
$main-color-hover: #8bc7ce;
$main-input: #f3f3f3;
$link-color: #247d76;
$link-color-news: #18ab9f;
$link-color-hover: #00a99f;
$main-footer: #2b3130;
$timeline-bg: #cddde1;
$timeline-grey: #e4edef;
$btn-main: #629fae;
$btn-service: #0ebbb5;
$btn-calendar: #66c1c0;
$btn-calendar-hover: #7dcac9;
$btn-hover: #39899d;
$main-crumb: #cddde1;

$news-date: #7f7f7f;

$font-reg: 'OpenSansRegular', sans-serif;
$font-semi: 'OpenSansSemiBold', sans-serif;
$font-bold: 'OpenSansBold', sans-serif;
