<div class="list-group">

    <!--<place></place>-->

    <!--<div class="list-group-item disabled">-->
    <!--<div class="row no-margin-bottom">-->
    <!--<div ng-if="!profile.isKyivCity" class="col-md-11">Крок 2. Ви увійшли як {{account.customer.firstName}} {{account.customer.middleName}} {{account.customer.lastName}}-->
    <!--</div>-->
    <!--<div ng-if="profile.isKyivCity" class="col-md-11">Крок 1. Ви увійшли як {{account.customer.firstName}} {{account.customer.middleName}} {{account.customer.lastName}}-->
    <!--</div>-->
    <!--<div class="col-md-1" ng-if="authControlIsComplete()">-->
    <!--<div class="link-button">-->
    <!--<a ng-click="editBankId()">Змінити</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <div class="list-group-item service__last">
        <div class="row no-margin-bottom">
            <div class="col-md-12">
                <div ng-if="!data.formData.params.response.value">
                    <h3>Вітаємо, {{account.customer.firstName}}, Ваша заявка <a href="#"
                                                                                ng-href="/search?sID_Order={{data.id}}"
                                                                                class="link-main">{{data.id}}</a>
                        прийнята!</h3>
                    <!--<div>Ви можете переглянути її поточний статус в <a href="#" ng-href="" class="link-main">особистому кабінеті</a> <a href="/order/search?sID_Order={{data.id}}">{{data.id}}</a> успішно зареєстровано</div>-->
                    <div>Ви можете переглянути її поточний статус в <a ng-href="{{myAuthServer=='id.kitsoft.kiev.ua'?'https://my.kitsoft.kiev.ua/services':'https://my.kyivcity.gov.ua/services'}}" class="link-main">особистому
                        кабінеті</a>. Також на кожному етапі Ви будете отримувати email-повідомлення.
                    </div>
                    <!--<div ng-if="data.formData.params.email.value || data.email"> (номер також відправлено Вам електронною поштою на Ваш e-mail {{data.formData.params.email.value || data.email}}) Результати будуть спрямовані також на email.</div>-->
                    <!--<div ng-if="data.formData.params.email.value || data.email">Звертаємо увагу, що Іноді листи потрапляють у спам або у розділ "Реклама" (для Gmail).</div>-->
                </div>
                <div ng-if="data.formData.params.response.value" class="text-center"
                     ng-bind-html="getHtml(data.formData.params.response.value)"></div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form class="ng-pristine ng-valid category__item-subscribe category__item-subscribe-grey" ng-submit="sendMailRequest()">
                    <div class="input-group">
                        <input type="text" style="border: 1px solid #ccc!important;" name="txt" class="form-control"
                               ng-model='mailInputText'
                               placeholder="Ваш коментар або запитання до співробітника держ. органу">
                        <span class="input-group-btn">
                        <button class="btn btn-default button-subscribe" type="submit">Надіслати</button>
                      </span>
                    </div>
                </form>
            </div>
            <div class="col-md-12 text-center">
                <a class="link-main" ng-href="/"><i class="glyphicon glyphicon-chevron-left"></i> замовити ще одну послугу</a>
            </div>
        </div>
    </div>

    <place-edit></place-edit>

</div>
