<style>
    .hc__right {
        padding-left: 0;
        padding-right: 0;
    }
</style>

<div ng-if="!spinner">

    <!--<div class="container breadcrumbs news__crumb js-news-crumb">-->
    <!--<div class="row">-->
    <!--<div class="container" style="margin-top: 20px">-->
    <!--<a href="/1" ng-if="catalogTab == 1 || !catalogTab">Головна</a>-->
    <!--<a href="/2" ng-if="catalogTab == 2">Головна</a>-->
    <!--&gt;-->
    <!--<a ui-sref="index.newsubcategory({'catID': catalogTab, 'scatID': category.oServiceTag_Root.nID })">{{category.oServiceTag_Root.sName_UA}}</a>-->
    <!--&gt;-->
    <!--<span>{{category.aServiceTag_Child[0].sName_UA}}</span>-->
    <!--<hr class="common-hr">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <div class="container-fluid news__crumb js-news-crumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/" ng-if="catalogTab == 1 || !catalogTab">Головна</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a ui-sref="index.newsubcategory({'catID': catalogTab, 'scatID': category.oServiceTag_Root.nID })">{{category.oServiceTag_Root.sName_UA}}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <span>{{category.aServiceTag_Child[0].sName_UA}}</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container subcategory-tmpl">

        <div class="row">
            <div class="container igov-container" ng-if="category.aServiceTag_Child[0].sNote">

                <div class="social-share js-social-share">
                    <ul></a>
                        <a href="#">
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40.05">
                                    <defs>
                                        <style>.a {
                                            fill: #cddde1;
                                        }

                                        .b {
                                            fill: #fff;
                                        }</style>
                                    </defs>
                                    <title>Icon__Facebook__01</title>
                                    <rect class="a" width="40" height="40" rx="3" ry="3"></rect>
                                    <path class="b"
                                          d="M27,26.43l0.73-5.56h-5.3V17a2,2,0,0,1,2-2h3.43V10H23a6.15,6.15,0,0,0-6.15,6.15v4.67H12.23v5.56h4.59V40h5.56V26.43H27Z"></path>
                                </svg>
                            </li>
                        </a>
                        <a href="#">
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
                                    <defs>
                                        <style>.a {
                                            fill: #cddde1;
                                        }

                                        .b {
                                            fill: #fff;
                                        }</style>
                                    </defs>
                                    <title>Icon__Twitter__01</title>
                                    <rect class="a" width="40" height="40" rx="3" ry="3"></rect>
                                    <path class="b"
                                          d="M7.69,27.77A14.42,14.42,0,0,0,29.82,15.58q0-.3,0-0.59a11.34,11.34,0,0,0,2.51-2.57,11.7,11.7,0,0,1-2.86.74h0c0.13-.09,2-1.33,2.2-2.81a17.56,17.56,0,0,1-2.46,1l-0.74.23a5.06,5.06,0,0,0-8.62,4.6A15.23,15.23,0,0,1,9.45,11s-2.42,3.3,1.44,6.7A5.2,5.2,0,0,1,8.7,17a4.81,4.81,0,0,0,4,5,4.63,4.63,0,0,1-2.23.09,5,5,0,0,0,4.65,3.53,9.72,9.72,0,0,1-7.43,2.12h0Zm0,0"
                                          transform="translate(0 0)"></path>
                                </svg>
                            </li>
                        </a>
                        <a href="#">
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
                                    <defs>
                                        <style>.a {
                                            fill: #cddde1;
                                        }

                                        .b {
                                            fill: #fff;
                                        }</style>
                                    </defs>
                                    <title>Icon__Google_Plus__01</title>
                                    <rect class="a" width="40" height="40" rx="3" ry="3"></rect>
                                    <path class="b"
                                          d="M23.36,21.79A8.16,8.16,0,0,1,14.83,29a9,9,0,1,1,0-18,8.54,8.54,0,0,1,6,2.35l-2.58,2.58a4.75,4.75,0,0,0-3.46-1.35A5.4,5.4,0,0,0,9.53,20a5.34,5.34,0,0,0,5.3,5.35c2.45,0,4.31-1.19,4.85-3.56H14.83V18.18h8.52A10.55,10.55,0,0,1,23.5,20a11.87,11.87,0,0,1-.13,1.79h0Z"
                                          transform="translate(0 0)"></path>
                                    <polygon class="b"
                                             points="34.17 20.67 31.02 20.67 31.02 23.82 28.78 23.82 28.78 20.67 25.63 20.67 25.63 18.43 28.78 18.43 28.78 15.28 31.02 15.28 31.02 18.43 34.17 18.43 34.17 20.67"></polygon>
                                    <path class="b" d="M45.5,35.46" transform="translate(0 0)"></path>
                                </svg>
                            </li>
                        </a>
                        <a href="#">
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
                                    <defs>
                                        <style>.a {
                                            fill: #cddde1;
                                        }

                                        .b {
                                            fill: #fff;
                                        }</style>
                                    </defs>
                                    <title>Icon__LinkedIn__01</title>
                                    <rect class="a" width="40" height="40" rx="3" ry="3"></rect>
                                    <path class="b" d="M12.4,10A2.4,2.4,0,1,1,10,12.4,2.41,2.41,0,0,1,12.4,10h0Zm0,0"
                                          transform="translate(0 0)"></path>
                                    <path class="b"
                                          d="M13.8,30H11a0.66,0.66,0,0,1-.66-0.66v-12A0.66,0.66,0,0,1,11,16.65H13.8a0.66,0.66,0,0,1,.66.66v12a0.66,0.66,0,0,1-.66.66h0Zm0,0"
                                          transform="translate(0 0)"></path>
                                    <path class="b"
                                          d="M30,20.87a4.56,4.56,0,0,0-4.56-4.56H24.74a4.06,4.06,0,0,0-3.55,2.1h0V16.92a0.28,0.28,0,0,0-.28-0.28H17.35a0.27,0.27,0,0,0-.27.28v12.8a0.28,0.28,0,0,0,.27.28h3.59a0.28,0.28,0,0,0,.27-0.28v-7.4A2.34,2.34,0,0,1,23.52,20a2.32,2.32,0,0,1,2.35,2.32v7.43a0.28,0.28,0,0,0,.27.28h3.6A0.27,0.27,0,0,0,30,29.73V20.87h0Zm0,0"
                                          transform="translate(0 0)"></path>
                                </svg>
                            </li>
                        </a>
                    </ul>
                </div>

                <div class="col-md-3 similar-situation-container">
                    <div class="vertical-divider"></div>
                    <span class="similar-situation-container-header">Замовити послуги</span>
                    <br>
                    <ul class="similar-situation">
                        <li ng-repeat="relatedServices in category.aService | orderBy: 'nOrder'">
                            <a ui-sref="index.service.general({'id': relatedServices.nID })"
                               ng-click="goToService(relatedServices.nID)">{{relatedServices.sName}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9" style="padding-left: 0;">
                    <h1 class="topic">{{situationHeader}}</h1>
                    <div class="row" ng-if="situationHeader">
                        <a ui-sref="index.print(printParams)" target="_blank" rel="noreferrer nofollow" class="print"><i class="fa fa-print"></i> версія для друку</a>
                    </div>
                    <span class="situation-html default-styles-for-inner-html" compile-template
                          data-ng-bind-html="trustAsHtml(category.aServiceTag_Child[0].sNote)"></span>
                </div>
            </div>
            <div class="container igov-container" style="padding-right: 0; padding-left: 0"
                 ng-if="!category.aServiceTag_Child[0].sNote">
                <div style="margin-top: 20px">
                    <div class="vertical-divider"></div>
                    <span style="font-size: 24px; font-family: 'Open Sans'; padding-left: 10px">Пов'язані послуги</span>
                    <div class="col-sm-12 catalog-with-search-result">
                        <ul style="padding-left: 3px">
                            <li ng-repeat="relatedServices in category.aService | orderBy: 'nOrder'"
                                style="list-style-type:square; color: #dddddd">
                                <a ui-sref="index.service.general({'id': relatedServices.nID })"
                                   ng-click="goToService(relatedServices.nID)">{{relatedServices.sName}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="container" style="padding-right: 0; padding-left: 0" ng-if="category.aServiceTag_Child[0].sNote">
          <div class="col-md-9">
            <div class="hypercomments-container" ng-init="runComments()">
              <div id="hypercomments_widget"></div>
              <a href="http://hypercomments.com"
                 class="hc-link"
                 title="comments widget"></a>&lt;!&ndash;comments powered by HyperComments&ndash;&gt;
            </div>
          </div>
        </div>-->

    </div>
</div>

<div class="row" ng-show="spinner">
    <div class="text-center">
        <img class="text-center section-preloader" src="/assets/images/loading.gif" alt="Loading"/>
    </div>
</div>

